@charset "UTF-8";
/* CSS Document */

body {
	width: 960px;
	margin: 0 auto;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	background-color:#EFEBCF;
}

nav li {
	display: inline;
	padding: 50px;
}

.column1 {
	width: 600px;
	float: left;
}


.column2 {
	width: 300px;
	float: right;
}

.clearfloat {
	clear: both;
}

article {
	width: 290px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}

.play {
	margin-top: 80px;
}

#fortnite {
	width: 220px;
	float: right;
	text-align: justify;
}

.fortniteopinions {
	margin-top: 100px;
}

footer {
	text-align: center;
	width: 960px;
	background-color: #11012E;
	color: white;
	padding: 5px;
	margin-top: 100px;
}

footer h1 {
	font-size: 20px;
}